/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Arial, sans-serif;
}

/* Styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #759FBD;
    color: #fff;
    padding: 0.5rem 1rem;
}

.logo {
    font-size: 1.5rem;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
        display: block;
    }
    
    .nav-link:hover,
    .nav-link:focus {
        background-color: #555;
    }
    
    .nav-toggle {
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
    }
    
    .hamburger {
        display: block;
        width: 25px;
        height: 3px;
        background: white;
        position: relative;
    }
    
    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 3px;
        background: white;
        transition: all 0.3s ease;
    }
    
    .hamburger::before {
        top: -8px;
    }
    
    .hamburger::after {
        bottom: -8px;
    }
    
    /* Responsive Styles */
    @media (max-width: 768px) {
        .nav-menu {
            display: none;
            
                @media (max-width: 800px) {
                    .profile-img {
                        float: none;
                        display: block;
                        margin: 10px auto;
                    }
                }
            position: absolute;
            right: 0;
            left: 0;
            top: 60px;
            flex-direction: column;
            background-color: #759FBD;
            width: 100%;
        }
    
        .nav-menu_visible {
            display: flex;
        }
    
        .nav-toggle {
            display: block;
        }
    }
    
    
    .logo {
        display: flex;
        align-items: center;
            /* Align the logo and text vertically */
    }
    
    .logo img {
        height: 90px;
            /* Adjust the height as needed */
            margin-right: 10px;
            /* Add some spacing between the logo and text */
        }

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        text-align: center;
    }

    header,
    footer {
        text-align: center;
    }
}

.profile-img {
    float: right;
    margin: 0 0 10px 20px;
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.about-us {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-us p {
    text-align: justify;
}

/* @media (max-width: 800px) {
    .profile-img {
        float: none;
        display: block;
        margin: 10px auto;
    }
}

*/
.services article,
.gallery img,
.contact {
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    
}

.services article {
    background: #eef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.gallery img {
    width: calc(50% - 40px);
    margin: 20px;
    height: auto;
    display: inline-block;
}

@media (max-width: 600px) {
    .gallery img {
        width: calc(100% - 40px);
    }
}